<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Посты</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/styles/base/styles.css">
    <link rel="stylesheet" href="/static/styles/users/styles.css">
    <link rel="stylesheet" href="/static/styles/posts/styles.css">
    <script src="/static/js/base/scripts.js" defer></script>
    <script src="/static/js/users/scripts.js" defer></script>
    <script src="/static/js/posts/fetch_posts.js" defer></script>
</head>
<body>
<!-- Подключаем хедер -->
<div id="header"></div>

<div class="container">
    <!-- Подключаем сайдбар -->
    <div id="sidebar"></div>

    <main class="content">
        <!-- Сюда будут загружаться посты -->
    </main>
</div>
</body>
</html>
