<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Платформа для рецептов коктейлей</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/styles/base/styles.css">
    <script src="/static/js/base/scripts.js"></script>
</head>
<body>

<!-- Подключаем хедер -->
<div id="header"></div>

<div class="container">
    <!-- Подключаем сайдбар -->
    <div id="sidebar"></div>

    <main class="content">
        <div class="section">
            <div class="text">
                <h2>Добро пожаловать на платформу рецептов коктейлей!</h2>
                <p>Это место, где любители коктейлей могут делиться своими любимыми рецептами, находить новые идеи и общаться с единомышленниками.</p>
            </div>
            <div class="image-container">
                <img id="randomImage1" src="" alt="Коктейль">
            </div>
        </div>

        <div class="section">
            <div class="text">
                <h2>Что вы можете делать?</h2>
                <ul>
                    <li>👥 Общаться с другими пользователями и обмениваться идеями.</li>
                    <li>🍹 Добавлять собственные рецепты коктейлей с фото и описанием.</li>
                    <li>❤️ Лайкать рецепты, которые вам понравились.</li>
                    <li>💬 Оставлять комментарии, обсуждать ингредиенты и способы приготовления.</li>
                    <li>⭐ Оценивать коктейли от 0 до 10 баллов, помогая другим пользователям найти лучшие рецепты.</li>
                </ul>
            </div>
            <div class="image-container">
                <img id="randomImage2" src="" alt="Коктейль">
            </div>
        </div>
    </main>
</div>
</body>
</html>
