<aside class="sidebar">
    <nav>
        <ul>
            <li>
                <a href="/my_user/">
                    <img src="/static/images/general/icon/user-icon.svg" alt="Профиль" width="24" height="24">
                    <span>Профиль</span>
                </a>
            </li>
            <li>
                <a href="/recipes/">
                    <img src="/static/images/general/icon/cook-icon.svg" alt="Рецепты" width="24" height="24">
                    <span>Рецепты</span>
                </a>
            </li>
            <li>
                <a href="/favorites/">
                    <img src="/static/images/general/icon/like-lib-icon.svg" alt="Рецепты" width="24" height="24">
                    <span>Любимые</span>
                </a>
            </li>
            <li>
                <a href="/login/">
                    <img src="/static/images/general/icon/logout-icon.svg" alt="Выйти" width="24" height="24">
                    <span>Выйти</span>
                </a>
            </li>
        </ul>
    </nav>
</aside>
