<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Мой аккаунт</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/styles/base/styles.css">
    <link rel="stylesheet" href="/static/styles/users/styles.css">
    <script src="/static/js/base/scripts.js"></script>
    <script src="/static/js/users/scripts.js"></script>

</head>
<body>
<!-- Подключаем хедер -->
<div id="header"></div>
<div class="container">
    <!-- Подключаем сайдбар -->
    <div id="sidebar"></div>

    <main class="content">
        <div class="profile-container">
            <div class="my_avatar-wrapper">
                <img id="user-avatar" class="my_avatar" src="/static/images/base_avatar/default-avatar.png" alt="Аватар">
            </div>
            <div class="user-info">
                <h2 id="username">Загрузка...</h2>
                <p><strong>Email:</strong> <span id="email">Загрузка...</span></p>
                <p><strong>О себе:</strong> <span id="bio">Загрузка...</span></p>
            </div>
        </div>
    </main>
</div>
</body>
</html>
